@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.header {
    justify-content: space-between;
    display: flex;
    background-color: #1f2937;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    /* border: 2px solid white; */
    padding: 0 200px;
    
}

.logo {
    font-size: x-large;
    font-weight: 700;
}

.right {
    /* margin-left: auto; */
    display: flex;
    gap: 20px;
    font-size: large;
}

a {
    text-decoration: none;
    color: antiquewhite;

}


.initial-content {
    display: flex;
    padding: 75px 200px;
    justify-content: space-between;
    background-color: #1f2937;
    gap: 75px;
}






/* .initial-content {
    display: flex;
    background-color: #1f2937;
    color: antiquewhite;
    justify-content: center;
    padding: 80px;
    gap: 80px;
} */

.initial-content .title {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.initial-content .subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 0;
}

.initial-content button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: #3882f6;
    height: 30px;
    font-weight: 500;

}

.initial-image img {
    width: 550px;
    height: auto;
} 

.information {
    padding: 50px;
}

.information .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 40px;

}

.info-boxes img {
    border: 3px solid #3882f6;
    border-radius: 8px;

}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

.info-boxes .box {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    font-size: medium;
    color: gray;

}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 300px;
    background-color: #e5e7eb;
}

.quote .quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;


}

.quote .citation {
    align-self: flex-end;
    font-weight: 600;
}


.cta {
    box-sizing: border-box;
    align-self: center;
    width: 70%;
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    padding: 40px 100px;
    margin: 100px;
    border-radius: 8px;
    align-items: center;

}

.cta .cta-title {
    color: #f9faf8;
    font-size: 22px;
    font-weight: 600;
}

.cta .cta-subtext {
    color: #e5e7eb;
}

.cta button {
    padding: 5px 25px;

    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    color: #e5e7eb;
}