
body {
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.logo {
    font-size: x-large;
    font-weight: 700;
}

.right {
    margin-left: auto;
    display: flex;
    gap: 20px;
    font-size: large;
}

a {
    text-decoration: none;
    color: antiquewhite;

}